
<div class="home__container">
	<app-card
	gamerCover="assets/bt-1.jpg"
	gamerLabel="Digital"
	gamerType ="Digital | PS4"
	gamerPrice="R$ 29,99"
	>
	</app-card>

	<app-card
	gamerCover="assets/bt-4.jpg"
	gamerLabel="Eclusive"
	gamerType ="Digital | PC"
	gamerPrice="199,90"
	>
	</app-card>
	<app-card
	gamerCover="assets/bt-5.jpg"
	gamerLabel="Eclusive"
	gamerType ="Digital | PC"
	gamerPrice="299,90"
	>
	</app-card>
	<app-card
	gamerCover="assets/bt-bad-company-2.jpg"
	gamerLabel="Eclusive"
	gamerType ="Digital | PS4"
	gamerPrice="199,90"
	>
	</app-card>

	<app-card
	gamerCover="assets/bt-hardline.jpg"
	gamerLabel="Eclusive"
	gamerType ="Digital | PC"
	gamerPrice="399,90"
	>
	</app-card>

	<app-card
	gamerCover="assets/ac-cover.jpg"
	gamerLabel="Digital"
	gamerType ="Digital | PS4"
	gamerPrice="399,90"
	>
	</app-card>

</div>
